<%= provide(:title, "Home") %>
<% if user_signed_in? %>
  <div class="row">
    <aside>
      <section>
      </section>
      <section>
        <%= render 'shared/card_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center">
    <h1>Flashcard Share</h1>
    <h2>This is the home page.</h2>
  </div>
<% end %>